
<?php echo $this->partial('common/categories.phtml', ['categories' => $this->categories]); ?>

<div class="col-md-9">
    <h2>Produtos categoria <?php echo $this->category->getName(); ?></h2>
    <div class="row">
        <?php if (!empty($this->products)) { ?>
            <?php foreach ($this->products as $product) { ?>
                <div class=" col-md-4 col-xs-12">
                    <div class="product-thumb transition">
                        <div class="image">
                            <a href="<?php echo $this->url(['url_friendly' => $product->getUrl_friendly()], 'product'); ?>" title="">
                                <img src="<?php echo $product->getImage(); ?>" title="" class="img-responsive">
                            </a>
                        </div>
                        <div class="caption">
                            <h4>
                                <a href="<?php echo $this->url(['url_friendly' => $product->getUrl_friendly()], 'product'); ?>">
                                    <?php echo $product->getName(); ?>
                                </a>
                            </h4>
                            <p class="price">
                                <span>por </span> R$ <?php echo number_format($product->getPrice(), 2, ',', '.'); ?>                                                       
                            </p>
                        </div>
                        <div class="col-md-12 grupo-btn-acesso">
                            <a href="<?php echo $this->url(['url_friendly' => $product->getUrl_friendly()], 'product'); ?>" title="" class="btn btn-success btn-acessar">Acessar</a>
                        </div> 
                    </div>
                </div>
            <?php } ?>
        <?php } else { ?>
            <div class="col-md-12 col-xs-12 alert alert-danger">
                Nenhum produto disponível!
            </div>
        <?php } ?>

    </div>
</div>