<aside class="col-sm-3 hidden-xs">
    <h3>Categorias</h3>
    <div class="list-group">
        <?php if (!empty($this->categories)) { ?>
            <?php foreach ($this->categories as $category) { ?>
                <a href="<?php echo $this->url(['url_friendly' => $category->getUrl_friendly()], 'category'); ?>"
                   class="list-group-item" title="<?php echo $category->getName(); ?>">
                    <?php echo $category->getName(); ?>
                </a>
            <?php } ?>
        <?php } ?>
    </div>
</aside>