<div class="container">
    <div class="row">
        <?php echo $this->partial('common/categories.phtml', ['categories' => $this->categories]); ?>

        <div id="content" class="col-sm-9">
            <h1>Cadastre sua conta</h1>
            <?php echo $this->form; ?>
        </div>
    </div>
</div>