<div class="container">
    <div class="row">

        <aside class="col-sm-3 hidden-xs">
            <h3>Minha conta</h3>

            <div class="list-group">
                <a href="<?php echo $this->url([], 'my-account'); ?>" class="list-group-item" title="">
                    Dashboard
                </a>
                <a href="<?php echo $this->url([], 'my-account-orders'); ?>" class="list-group-item" title="">
                    Pedidos
                </a>
            </div>
        </aside>

        <div id="content" class="col-sm-9">
            <h1>Dashboard</h1>
            <div>
                <?php $profile = Zend_Auth::getInstance()->getIdentity(); ?>
                Olá, <?php echo $profile->fullname; ?>
            </div>
        </div>
    </div>
</div>