<div class="container">
    <div class="row">

        <?php echo $this->partial('common/categories.phtml', ['categories' => $this->categories]); ?>

        <div id="content" class="col-sm-9">
            <div class="row">
                <div class="col-sm-6">
                    <div class="well">
                        <h2>Ainda não é cliente?</h2>
                        <p><strong>Cadastre sua conta.</strong></p>
                        <p>Acompanhe sua conta</p>
                        <a href="<?php echo $this->url([], 'account'); ?>" class="btn btn-primary">Cadastre-se</a>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="well">
                        <h2>Já é cliente?</h2>
                        <p>
                            Acesse seus pedidos.
                        </p>

                        <?php echo $this->form; ?>

                    </div>
                </div>
            </div>
        </div>

    </div>
</div>