<div class="container">
    <div class="row">

        <?php echo $this->partial('common/categories.phtml', ['categories' => $this->categories]); ?>

        <?php if (!empty($this->products)) { ?>
            <div id="content" class="col-sm-9">
                <?php if(!empty($this->cart_message)){ ?>
                    <div id="alert-message" class="alert alert-success">
                        <div class="text">
                            <?php echo $this->cart_message; ?>
                        </div>
                    </div>
                <?php }else{ ?>
                    <div id="alert-message" class="alert" style="display: none;">
                        <div class="text">
                        </div>
                    </div>
                <?php } ?>


                <h1>Carrinho de compras</h1>

                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <td class="text-center">Imagem</td>
                            <td class="text-left">Produto</td>
                            <td class="text-left">Quantidade</td>
                            <td class="text-right">Preço</td>
                            <td class="text-right">Total</td>
                        </tr>
                        </thead>
                        <tbody>
                        <?php foreach ($this->products as $product) { ?>
                            <tr>
                                <td class="text-center">
                                    <img src="<?php echo $product->getImage(); ?>" title="" class="img-thumbnail" width="100">
                                </td>
                                <td class="text-left">
                                    <a href="<?php echo $this->url(['url_friendly' => $product->getUrl_friendly()], 'product'); ?>">
                                        <?php echo $product->getName(); ?>
                                    </a>
                                </td>
                                <td class="text-left">
                                    <div class="input-group btn-block" style="max-width: 200px;">
                                        <input name="quantity[<?php echo $product->getId(); ?>]" value="<?php echo $product->cart_quantity; ?>" size="1" class="form-control" type="text">
                                        <span class="input-group-btn">
                                            <button type="button" data-toggle="tooltip" title="" class="btn btn-primary update-quantity-product" data-product_id="<?php echo $product->getId(); ?>" data-original-title="Atualizar">
                                                <i class="glyphicon glyphicon-refresh" aria-hidden="true"></i>
                                            </button>
                                            <button type="button" data-toggle="tooltip" title="" class="btn btn-danger remove-product" data-product_id="<?php echo $product->getId(); ?>" data-original-title="Remover">
                                                <i class="glyphicon glyphicon-remove" aria-hidden="true"></i>
                                            </button>
                                        </span>
                                    </div>
                                </td>
                                <td class="text-right">
                                    R$ <?php echo number_format($product->getPrice(), 2, ',', '.'); ?>
                                </td>
                                <td class="text-right">
                                    R$ <?php echo number_format($product->cart_total, 2, ',', '.'); ?>
                                </td>
                            </tr>
                        <?php } ?>
                        </tbody>
                    </table>
                </div>
                <div class="row">
                    <div class="col-sm-4 col-sm-offset-8">
                        <table class="table table-bordered">
                            <tbody>
                            <tr>
                                <td class="text-right"><strong>Total:</strong></td>
                                <td class="text-right">R$ <?php echo number_format($this->total, 2, ',', '.'); ?></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="buttons">
                    <div class="pull-left">
                        <a href="<?php echo $this->url([], 'home'); ?>" class="btn btn-default">Continuar comprando</a>
                    </div>
                    <div class="pull-right">
                        <a href="<?php echo $this->url([], 'checkout'); ?>" class="btn btn-primary">Finalizar pedido</a>
                    </div>
                </div>
            </div>
        <?php } else { ?>
            <div id="content" class="col-sm-9">
                <h1>Carrinho de compras</h1>

                <p>Seu carrinho de compras está vazio!</p>
            </div>
        <?php } ?>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('.remove-product').on('click', function () {
            $.ajax({
                url: "/cart/remove-to-cart",
                global: false,
                type: "POST",
                data: {
                    'product_id': $(this).data('product_id')
                },
                dataType: 'json',
                success: function (json) {
                    if (json.success) {
                        window.location = "<?php echo $this->url([], 'cart'); ?>";
                    } else {
                        $('#alert-message').addClass('alert-danger').removeClass('alert-success').show().find('.text').text(json.message);
                    }
                }
            });
        });

        $('.update-quantity-product').on('click', function () {

            $.ajax({
                url: "/cart/update-cart",
                global: false,
                type: "POST",
                data: {
                    'product_id': $(this).data('product_id'),
                    'quantity': parseInt($('input[name="quantity[' + $(this).data('product_id') + ']"]').val())
                },
                dataType: 'json',
                success: function (json) {
                    if (json.success) {
                        window.location = "<?php echo $this->url([], 'cart'); ?>";
                    } else {
                        $('#alert-message').addClass('alert-danger').removeClass('alert-success').show().find('.text').text(json.message);
                    }
                }
            });

        });
    });
</script>
