<div class="container">
    <div class="row">
        <div id="content" class="col-sm-12">

            <div id="alert-message" class="alert" style="display: none;">
                <div class="text">
                </div>
            </div>

            <div class="row">

                <?php echo $this->partial('common/categories.phtml', ['categories' => $this->categories]); ?>

                <div class="col-sm-5">
                    <ul class="thumbnails">
                        <li>
                            <a class="thumbnail" href="javascript:;" title="">
                                <img src="<?php echo $this->product->getImage(); ?>" title="" alt=""/>
                            </a>
                        </li>
                    </ul>
                    <ul class="nav nav-tabs">
                        <li class="active">
                            <a href="#tab-description" data-toggle="tab">Descrição</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="tab-description">
                            <p class="intro">
                                <?php echo $this->product->getDescription(); ?>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <h1><?php echo $this->product->getName(); ?></h1>
                    <ul class="list-unstyled">
                        <?php if (!empty($this->product_attributes)) { ?>
                            <?php foreach ($this->product_attributes as $attribute) { ?>
                                <li><?php echo $attribute->getName(); ?>:<?php echo $attribute->getContent(); ?></li>
                            <?php } ?>
                        <?php } ?>
                    </ul>
                    <ul class="list-unstyled">
                        <li>
                            <h2>R$ <?php echo number_format($this->product->getPrice(), 2, ',', '.'); ?></h2>
                        </li>
                    </ul>
                    <div id="product">
                        <div class="form-group">
                            <button type="button" id="add-to-cart" data-loading-text="Carregando..." class="btn btn-primary btn-lg btn-block">Comprar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('#add-to-cart').on('click', function () {
            $.ajax({
                url: "/cart/add-to-cart",
                global: false,
                type: "POST",
                data: {
                    'product_id': <?php echo $this->product->getId(); ?>
                },
                dataType: 'json',
                success: function (json) {
                    if (json.success) {
                        $('#alert-message').addClass('alert-success').removeClass('alert-danger').show().find('.text').text(json.message);
                    } else {
                        $('#alert-message').addClass('alert-danger').removeClass('alert-success').show().find('.text').text(json.message);
                    }
                }
            });
        });
    });
</script>
