<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="">

    <?php echo $this->headTitle('App Simple Cart'); ?>

    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
</head>
<body>
<nav class="navbar navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="<?php echo $this->url([], 'home'); ?>">App Simple Cart</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse navbar-right">
            <form class="navbar-form navbar-right" action="<?php echo $this->url([], 'search'); ?>">
                <div class="form-group">
                    <input type="text" name="search" placeholder="Buscar" class="form-control">
                </div>
                <button type="submit" class="btn btn-success">Buscar</button>
            </form>

            <ul class="nav navbar-nav ">
                <li><a href="<?php echo $this->url([], 'cart'); ?>">Carrinho</a></li>
                <?php if(!Zend_Auth::getInstance()->hasIdentity()){ ?>
                    <li><a href="<?php echo $this->url([], 'account'); ?>">Cadastre-se</a></li>
                    <li><a href="<?php echo $this->url([], 'login'); ?>">Acesse</a></li>
                <?php }else{ ?>
                    <li><a href="<?php echo $this->url([], 'my-account'); ?>">Meus dados</a></li>
                    <li><a href="<?php echo $this->url([], 'logout'); ?>">Sair</a></li>
                <?php } ?>
            </ul>
        </div>
    </div>
</nav>