<div class="container">
    <div class="row">

        <?php echo $this->partial('common/categories.phtml', ['categories' => $this->categories]); ?>

        <?php if (!empty($this->products)) { ?>
            <div id="content" class="col-sm-9">


                <div class="col-md-12">
                    <div class="col-md-6">
                        <h3>Dados Pessoais</h3>
                        <ul>
                            <li>Nome completo: <?php echo $this->customer->getFullname(); ?></li>
                            <li>CPF: <?php echo $this->customer->getDocument(); ?></li>
                            <li>
                                Data nascimento:
                                <?php
                                $data_real = explode("-", $this->customer->getBirthdate());
                                echo $data_real[2] . "/" . $data_real[1] . "/" . $data_real[0]; ?>
                            </li>
                            <li>Email: <?php echo $this->customer->getEmail(); ?></li>
                        </ul>
                    </div>
                    <div class="col-md-6">
                        <h3>Dados de entrega</h3>
                        <ul>
                            <li>Logradouro: <?php echo $this->customer->getAddress(); ?></li>
                            <li>Número: <?php echo $this->customer->getNumber(); ?></li>
                            <li>Complemento: <?php echo $this->customer->getComplement(); ?></li>
                            <li>Bairro: <?php echo $this->customer->getDistrict(); ?></li>
                            <li>Cidade: <?php echo $this->customer->getCity(); ?></li>
                            <li>Estado: <?php echo $this->customer->state->getCode(); ?></li>
                        </ul>

                    </div>
                </div>


                <h3>Resumo da sua compra</h3>

                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <td class="text-center">Imagem</td>
                            <td class="text-left">Produto</td>
                            <td class="text-left">Quantidade</td>
                            <td class="text-right">Preço</td>
                            <td class="text-right">Total</td>
                        </tr>
                        </thead>
                        <tbody>
                        <?php foreach ($this->products as $product) { ?>
                            <tr>
                                <td class="text-center">
                                    <img src="<?php echo $product->getImage(); ?>" title="" class="img-thumbnail" width="40">
                                </td>
                                <td class="text-left">
                                    <?php echo $product->getName(); ?>
                                </td>
                                <td class="text-left">
                                    <?php echo $product->cart_quantity; ?>
                                </td>
                                <td class="text-right">
                                    R$ <?php echo number_format($product->getPrice(), 2, ',', '.'); ?>
                                </td>
                                <td class="text-right">
                                    R$ <?php echo number_format($product->cart_total, 2, ',', '.'); ?>
                                </td>
                            </tr>
                        <?php } ?>
                        </tbody>
                    </table>
                </div>

                <div class="row">
                    <div class="col-sm-4 col-sm-offset-8">
                        <table class="table table-bordered">
                            <tbody>
                            <tr>
                                <td class="text-right"><strong>Total:</strong></td>
                                <td class="text-right">R$ <?php echo number_format($this->total, 2, ',', '.'); ?></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="buttons">
                    <div class="pull-right">
                        <form class="" method="post" action="<?php echo $this->url([], 'checkout-finish'); ?>">
                            <button class="btn btn-primary">Finalizar</button>
                        </form>
                    </div>
                </div>
            </div>
        <?php } ?>
    </div>
</div>