<div class="container">
    <div class="row">

        <aside class="col-sm-3 hidden-xs">
            <h3>Minha conta</h3>

            <div class="list-group">
                <a href="<?php echo $this->url([], 'my-account'); ?>" class="list-group-item" title="">
                    Dashboard
                </a>
                <a href="<?php echo $this->url([], 'my-account-orders'); ?>" class="list-group-item" title="">
                    Pedidos
                </a>
            </div>
        </aside>

        <div id="content" class="col-sm-9">
            <h1>Pedidos</h1>
            <table class="table table-bordered">
                <thead>
                <tr>
                    <td>Número do pedido</td>
                    <td>Valor</td>
                    <td>Data da compra</td>
                </tr>
                </thead>
                <tbody>
                <?php if (!empty($this->orders)) { ?>
                    <?php foreach ($this->orders as $order) { ?>
                        <tr>
                            <td><?php echo $order->getId(); ?></td>
                            <td>R$ <?php echo number_format($order->getTotal(), 2, ',', '.'); ?></td>
                            <td>
                                <?php
                                $data = explode(" ", $order->getCreated_at());
                                $hour = $data['1'];
                                $data_real = explode("-", $data['0']);
                                echo $data_real[2] . "/" . $data_real[1] . "/" . $data_real[0] . " " . $hour;
                                ?>
                            </td>
                        </tr>
                    <?php } ?>
                <?php } else { ?>
                    <tr>
                        <td colspan="3">Nenhum pedido encontrado!</td>
                    </tr>
                <?php } ?>
                </tbody>
            </table>
        </div>
    </div>
</div>